<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div>{{>header}}</div>
        <p>Get weather for your address</p>
        <form>
            <input type="text" placeholder="eg. Philadelphia">
            <button type="submit">Search</button>
        </form>
        <p id="weather-update"></p>
        <div>{{>footer}}</div>
        <script src="/js/app.js"></script>
    </body>

</html>